#board {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#reload {
  text-align: center;
  margin-top: 40px;
}
.box {
  height: 150px;
  width: 150px;
  font-size: 50px;
}
#div1 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#div2 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
#div3 {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
#div4 {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#div5 {
  border: 3px solid black;
}
#div6 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
#div7 {
  border-top: 3px solid black;
  border-right: 3px solid black;
}
#div8 {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
#div9 {
  border-top: 3px solid black;
  border-left: 3px solid black;
}
#oScore {
  text-align: center;
}
#xScore {
  text-align: center;
}
#tieScore {
  text-align: center;
}
.x {
  background: url("http://www.clker.com/cliparts/c/i/R/i/U/Y/letter-x-hi.png");
  background-size: cover;
}
.o {
  background: url("http://www.clker.com/cliparts/y/5/v/j/5/p/uppercase-o-hi.png");
  background-size: cover;
}

button {
  padding: 10px;
  font-size: 26px;
  background-color: red;
  font-family: 'Montserrat', sans-serif;
  border-radius: 100px;
}
header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(circle, black 40%, transparent 100%), white;
  border-radius: 500px;
  border-bottom: 3px solid white;
  color: white;
  margin-top: -10px;
}

header h1 {
  font-weight: bold;
  text-size: 30px;
  margin-top: 10px;
  padding: 0;
}

body {
  background-image: url("http://tse2.mm.bing.net/th?id=OIP.Ma5c9f5042c2939243d04a9d12f0d20c8H0&pid=15.1");
  background-size: cover;
}
h2 {
  margin: -15px 0 3px 0;
  padding-bottom: 8px;
}
ul {
  list-style-type: none;
  margin-top: -10px;
  padding: 0;
}
li {
  display: inline-table;
  text-align: justify;
  margin: 0 40px 0 40px;
  font-size: 20px;
}
